@model ibernsof_Restoran.Models.Masa

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="content-header row">
        <div class="content-header-left col-12 mb-2 mt-1">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h5 class="content-header-title float-left pr-1 mb-0">Ekle</h5>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb p-0 mb-0">
                            <li class="breadcrumb-item">
                                <a href="../AdminHome/Index"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="Index">Masa QR</a>
                            </li>
                            <li class="breadcrumb-item active">
                              MASA OR EKLE
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="card card-danger">
    <div class="card-header">
        <h4><b>Masa QR Kod Ekle</b></h4>
    </div>
    <div class="card-body">
      

        @using (Html.BeginForm("Create", "Masa", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Masa No</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.masaNo, new { htmlAttributes = new { @class = "form-control", @onchange = "UserCheck()" } })
                    @Html.ValidationMessageFor(model => model.masaNo, "", new { @class = "text-danger" })
                    <p id="Status" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 form-group">
                <label class="control-label col-md-6">Masa Kat/Yer</label>

                @Html.DropDownList("masaKatID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.masaKatID, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.qrFoto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (Model != null && !String.IsNullOrEmpty(Model.qrFoto))
                    {
                        <img src="@Url.Content(Model.qrFoto)" alt="Image" />
                    }
                </div>
            </div>

            <div class="col-xl-3 col-md-4 col-12">
                <div class="card invoice-action-wrapper shadow-none border">

                    <div class="invoice-action-btn">
                        <button class="btn btn-light-primary btn-block">
                            <i class="bx bx-barcode"><span> Ekle</span></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        }
      

    </div>
    </div>

        <script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <script>
    function UserCheck() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckMasaAvailability", "Masa")",
            {
                userdata: $("#masaNo").val()
            },
        function (data) {
            if (data == 0) {
                $("#Status").html('<font color="Green">Masa kullanılabilir.</font>');
                $("#odaNo").css("border-color", "Green");

            }
            else {
                $("#Status").html('<font color="Red">Bu isme kayıtlı masa bulunmaktadır.</font>');
                $("#odaNo").css("border-color", "Red");
            }
        });
    }
        </script>
