@model ibernsof_Restoran.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left pr-1 mb-0">Ekle</h5>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="../AdminHome/Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="../Index">Kullanicilar</a>
                        </li>
                        <li class="breadcrumb-item active">
                          Kullanici Ekle
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Create", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section id="form-control-repeater">
        <div class="row">
            <!-- file repeater  -->
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><b>Yeni Kullanıcı Kayıt</b></h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form action="#">
                                <div class="row">

                                    <div class="col-md-6 col-sm-12 form-group">
                                        <label class="control-label col-md-6">Kullanıcı adı</label>
                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", placeholder = "Kullanıcı adınızı giriniz" } })
                                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-group">
                                        <label class="control-label col-md-6">Şifre</label>
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Şifrenizi giriniz" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-6 col-sm-12 form-group">
                                        <label class="control-label col-md-6">Yetki</label>

                                        @Html.DropDownList("yetkiID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.yetkiID, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-6 col-sm-12 form-group">
                                        <label class="control-label col-md-6">Kullanici Durum</label>
                                        @Html.EditorFor(model => model.userDurum, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.userDurum, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-xl-3 col-md-4 col-12">
                                        <div class="card invoice-action-wrapper shadow-none border">

                                            <div class="invoice-action-btn">
                                                <button class="btn btn-light-primary btn-block">
                                                    <i class="bx bx-group"><span> Ekle</span></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /file repeater -->

        </div>
    </section>
}

