@model List<ibernsof_Restoran.Models.CarouselOne>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="breadcrumb-wrapper col-12">
    <ol class="breadcrumb p-0 mb-0">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","AdminHome")"><i class="bx bx-home-alt"></i></a>
        </li>

        <li class="breadcrumb-item active">
            Reklam Listesi
        </li>
    </ol>
</div>
<br />
<div class="col-xl-3 col-md-4 col-12">
    <div class="card invoice-action-wrapper shadow-none border">

        <div class="invoice-action-btn">
            <button class="btn btn-light-primary btn-block">
                <a href="/CarouselOne/Create/"><i class="bx bx-group"><span>Yeni reklam Ekle</span></i></a>
            </button>
        </div>
    </div>
</div>
@Html.Hidden("reklamID")


<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-md-4 col-lg-3 col-sm-6">
                <div class="card" style="border-radius: 10px;">
                    <img class="card-img-top" src="@item.reklamResim" alt="Card image" style="width:100%;object-fit:cover; border-radius: 10px">
                    <div class="card-body">
                        <h4 class="card-title"><strong>@item.reklamHeader</strong></h4>
                        <h3 class="card-title"><strong>@item.reklamAciklamaHeader</strong></h3>
                        <div>

                            <p class="addReadMore showlesscontent">@item.reklamAciklama</p>
                        </div>


                        sira<p>@item.reklamSira</p>
                        <button type="button" class="btn btn-light-info btn-sm" onclick="@("window.location.href='"+Url.Action("Edit","CarouselOne", new { reklamID = item.reklamID }) + "'");"><i class="fas fa-pencil-alt"></i> Duzenle</button>
                        <button type="button" class="btn btn-light-danger btn-sm" data-toggle="modal" data-target="#DeleteConfirmation" onclick="DeleteReklamRecord(@item.reklamID)"><i class="fas fa-trash"></i> Sil</button>
                    </div>
                </div>
            </div>

        }


    </div>
</div>



<!-- DELETE MODAL -->
<div class="modal fade" id="DeleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Ürün Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Seçilen slider silmek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-light-danger" onclick="ConfirmDelete()">Onayla</button>
            </div>
        </div>
    </div>
</div>

<script>
    //Show The Popup Modal For DeleteComfirmation
    var DeleteReklamRecord = function (reklamID) {
        $("#reklamID").val(reklamID);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var reklamID = $("#reklamID").val();
        $.ajax({
            type: "POST",
            url: "/CarouselOne/DeleteReklamRecord?reklamID=" + reklamID,
            success: function (result) {
                alert("Silme islemi Basarili!..");
                window.location.href = "/CarouselOne/Index";
                $("#DeleteConfirmation").modal("hide");
                $("#modal .close").click();
            }
        })
    }
</script>


