
@model IList<ibernsof_Restoran.Models.CartItem>
@{
    ViewBag.Title = "MasaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/components.css">
<link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/themes/dark-layout.css">
<link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/themes/semi-dark-layout.css">


<!--  Inverse table start -->
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left pr-1 mb-0">Siparislerim</h5>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="../AdminHome/Index"><i class="bx bx-home-alt"></i></a>
                        </li>

                        <li class="breadcrumb-item active">
                            Gelen SiparisLerim
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">


    <div class="content-body">


        <section id="divider-colors">
            <div class="divider divider-info">
                <div class="divider-text">Siparişlerim</div>
            </div>
        </section>

    </div>
    <div class="card-body">

        <table id="example2" class="table zero-configuration">
            <thead>
                <tr>


                    <th>
                        <span class="align-middle">Sipariş Goruntule</span>
                    </th>

                    <th>Siparis No</th>
                    <th>Masa No </th>
                    <th>Odeme Tipi </th>
                    <th>Siparis Durum </th>
                    <th>Siparis Onay </th>


                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {@Html.Hidden("cartNo")

                //var cartno = @item.cartNo;
                <tr>

                    <td>
                        <button type="button" class="btn btn-light-info btn-sm" onclick="@("window.location.href='"+Url.Action("SiparisDetay","AdminGarson", new { cartNo = item.cartNo }) + "'");"><i class="bx bx-show-alt"></i> </button>


                    </td>


                    <td>
                        <span class="bullet bullet-info bullet-xs"></span>
                        <small class="text-muted">@item.cartNo</small>
                    </td>

                    <td>
                        <span class="bullet bullet-danger bullet-xs"></span>
                        <small class="text-muted">@item.Masa.masaNo</small>
                    </td>
                    <td>

                        @if (item.odemeTur == "nakit")
                        {

                            <small class="badge badge-light-success badge-pill">Nakit</small>
                        }
                        else
                        {

                            <small class="badge badge-light-warning badge-pill">
                                Pos

                            </small>
                        }

                    </td>
                    <td>
                        @if (item.siparisonay == true)
                        {
                            <span class="badge badge-light-success badge-pill"><i class="bx bx-check">Teslim Edildi</i></span>
                        }
                        else
                        {
                            <span class="badge badge-light-warning badge-pill"><i class="bx bx-dna">Hazirlaniyor</i></span>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-light-danger btn-sm" data-toggle="modal" data-target="#SiparisOnayConfirmation" onclick="SiparisOnayRecord(@item.cartNo)">Onayla!</button>
                    </td>


                </tr>
            }
            </tbody>
        </table>



    </div>

</div>



<!-- BEGIN: Page Vendor JS-->

<script src="~/Content/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="~/Content/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
<script src="~/Content/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
<script src="~/Content/app-assets/vendors/js/tables/datatable/responsive.bootstrap.min.js"></script>
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
<script src="~/Content/app-assets/js/scripts/pages/app-invoice.js"></script>
<!-- END: Page JS-->
<script src="~/Content/app-assets/vendors/js/vendors.min.js"></script>
<script src="~/Content/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js"></script>
<script src="~/Content/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
<script src="~/Content/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>





<div class="modal fade" id="OdemeOnayConfirmation" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="onaylaModal">Odemeyi Onayla</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Seçilen siparis odemeyi onaylamak istediğinize emin misiniz ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Iptal</button>
                <button type="button" class="btn btn-danger" onclick="ConfirmOdemeOnayla()">Onayla</button>
            </div>
        </div>
    </div>
</div>










<div class="modal fade" id="SiparisOnayConfirmation" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="siparisiModal">Siparisi Onayla</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Seçilen siparisi onaylamak istediğinize emin misiniz ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Iptal</button>
                <button type="button" class="btn btn-danger" onclick="ConfirmSiparisOnayla()">Onayla</button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    var siparisOnay = 0;
    var SiparisOnayRecord = function (cartNo) {
        siparisOnay = cartNo;
        $("#SiparisOnayConfirmation").modal("show");
    };
    var ConfirmSiparisOnayla = function () {
        $.ajax({
            type: "POST",
            url: "/AdminSiparis/SiparisOnayRecord?cartNo=" + siparisOnay,
            success: function (result) {
                alert("Onaylama islemi Basarili!..");
                location.reload();
                $("#SiparisOnayConfirmation").modal("hide");
                $("#modal .close").click();
            }
        });
    }
</script>

<script type="text/javascript">
    var odemeOnay = 0;
    //Show The Popup Modal For DeleteComfirmation
    var OdemeOnayRecord = function (cartNo) {
        //$("#cartNo").val(cartNo);
        odemeOnay = cartNo;
        $("#OdemeOnayConfirmation").modal("show");
    }
    var ConfirmOdemeOnayla = function () {
        alert(odemeOnay);
        $.ajax({
            type: "POST",
            url: "/AdminSiparis/OdemeOnayRecord?cartNo=" + odemeOnay,
            success: function (result) {
                alert("Onaylama islemi Basarili!..");
                window.location.href = "/AdminSiparis/Index";
                $("#OdemeOnayConfirmation").modal("hide");
                $("#modal .close").click();
            }
        })
    }
</script>




